<%layout('/layouts/boilerplate')%>
<body>
    <h1>All Listings</h1>
    <form method="get" action="/listing/new">
        <button>Add New Lisitng</button>
    </form>
        <ul>
            <%for(listing of allListings){%>
            <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
            <%}%>
        </ul>
</body>


