<%layout('/layouts/boilerplate')%>
<div class="row">
    <div class="col-8 offset-2">
<body>
    <h1>Add Your Property</h1>
    <form method="POST" action="/listing">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" class="form-control" placeholder="Enter your Property title">
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" placeholder="Enter your Description"></textarea>
        </div>
        <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image]" type="text" class="form-control" placeholder="Enter your IMAGE URL">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" class="form-control" placeholder="Enter Price">
                </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control" placeholder="Enter your Property Country">
                </div>
        </div>
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" class="form-control" placeholder="Enter your Property location">
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-dark">Add</button>
    </div>
    </form>
</body>
</div>
</div>
